Repository Roshan-24/TRINIT_Olu-Squad_Dev02: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js, yarn workspace @bug-tracker/api format:prisma

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,json,*rc}": [
    "yarn workspace @bug-tracker/frontend format"
  ],
  "apps/frontend/**/*.{js,jsx}": [
    "yarn workspace @bug-tracker/frontend lint:fix"
  ],
  "apps/api/**/*.{js,json,*rc}": ["yarn workspace @bug-tracker/api format:js"],
  "apps/api/prisma/schema.prisma": [
    "yarn workspace @bug-tracker/api format:prisma"
  ]
}

Setup boilerplate
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/.gitignore
  apps/api/.prettierrc
  apps/api/package.json
  apps/api/prisma/migrations/20220129102549_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/api/src/auth/jwt-strategy.js
  apps/api/src/auth/local-strategy.js
  apps/api/src/config/prismaClient.js
  apps/api/src/controllers/authController.js
  apps/api/src/routers/authRouter.js
  apps/api/src/server.js
  apps/api/src/validators/authValidator.js
  apps/api/src/validators/index.js
  apps/frontend/.env.local.example
  apps/frontend/.prettierrc
  apps/frontend/src/App.jsx
  apps/frontend/src/components/MenuButton.jsx
  apps/frontend/src/components/Navbar/index.jsx
  apps/frontend/src/components/Navbar/navbarItems.js
  apps/frontend/src/components/ProtectedRoute.jsx
  apps/frontend/src/components/forms/LoginForm.jsx
  apps/frontend/src/components/forms/RegisterForm.jsx
  apps/frontend/src/config/Router.jsx
  apps/frontend/src/config/axios.js
  apps/frontend/src/config/constants.js
  apps/frontend/src/config/theme/colors.js
  apps/frontend/src/config/theme/fonts.js
  apps/frontend/src/config/theme/index.js
  apps/frontend/src/config/theme/styles.js
  apps/frontend/src/contexts/UserContext.jsx
  apps/frontend/src/main.jsx
  apps/frontend/src/pages/Auth.jsx
  apps/frontend/src/pages/Home.jsx
  apps/frontend/src/vite-env.d.ts
  apps/frontend/vite.config.js
  yarn.lock
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js, yarn workspace @bug-tracker/api format:prisma

fix typo in schema
  apps/api/prisma/migrations/20220129111533_fix_typo/migration.sql
  apps/api/prisma/schema.prisma
Due: yarn workspace @bug-tracker/api format:prisma

Add routes for new org and project
  apps/api/src/controllers/orgController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/orgRouter.js
  apps/api/src/routers/projectRouter.js
  apps/api/src/server.js
  apps/api/src/validators/orgValidator.js
  apps/api/src/validators/projectValidator.js
Due: yarn workspace @bug-tracker/api format:js

Update schema
  apps/api/prisma/migrations/20220129121431_add_desc_and_closed/migration.sql
  apps/api/prisma/schema.prisma
  apps/frontend/src/config/axios.js
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:prisma

Update schema 2: Electric boogaloo
  apps/api/prisma/migrations/20220129124034_relate_project_and_bug_category/migration.sql
  apps/api/prisma/schema.prisma
Due: yarn workspace @bug-tracker/api format:prisma

Add list projects route
  apps/api/src/controllers/authController.js
  apps/api/src/controllers/orgController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/orgRouter.js
  apps/api/src/routers/projectRouter.js
  apps/api/src/server.js
Due: yarn workspace @bug-tracker/api format:js

Add org members in schema
  apps/api/prisma/migrations/20220129135707_add_org_members/migration.sql
  apps/api/prisma/schema.prisma
Due: yarn workspace @bug-tracker/api format:prisma

org and project count routes
  apps/api/src/controllers/orgController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/orgRouter.js
Due: yarn workspace @bug-tracker/api format:js

push user to members
  apps/api/src/controllers/orgController.js
  apps/api/src/controllers/projectController.js
Due: yarn workspace @bug-tracker/api format:js

Feat: Project page
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/projectRouter.js
  apps/frontend/src/config/Router.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

Feat: kanban
  apps/api/prisma/migrations/20220129171202_hehe/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/controllers/bugController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/bugRouter.js
  apps/api/src/server.js
  apps/api/src/validators/projectValidator.js
  apps/frontend/src/components/kanban/KanbanCategory.jsx
  apps/frontend/src/components/kanban/KanbanItem.jsx
  apps/frontend/src/config/Router.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js, yarn workspace @bug-tracker/api format:prisma

add thread route
  apps/api/src/controllers/bugController.js
  apps/api/src/controllers/orgController.js
  apps/api/src/controllers/threadController.js
  apps/api/src/routers/orgRouter.js
  apps/api/src/routers/threadRouter.js
  apps/api/src/server.js
Due: yarn workspace @bug-tracker/api format:js

Add Org and Project pages
  apps/api/src/controllers/authController.js
  apps/api/src/controllers/orgController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/projectRouter.js
  apps/frontend/src/App.jsx
  apps/frontend/src/components/MemberList.jsx
  apps/frontend/src/components/OrgCard.jsx
  apps/frontend/src/components/ProjectCard.jsx
  apps/frontend/src/components/forms/LoginForm.jsx
  apps/frontend/src/components/forms/NewOrgForm.jsx
  apps/frontend/src/components/forms/NewProjectForm.jsx
  apps/frontend/src/config/Router.jsx
  apps/frontend/src/pages/Organization.jsx
  apps/frontend/src/pages/OrganizationDashboard.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

Change url to singular smh
  apps/frontend/src/components/forms/NewOrgForm.jsx
  apps/frontend/src/components/forms/NewProjectForm.jsx
  apps/frontend/src/pages/Organization.jsx
  apps/frontend/src/pages/OrganizationDashboard.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix

project page changes and routes
  apps/api/src/controllers/postController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/postRouter.js
  apps/api/src/routers/projectRouter.js
  apps/frontend/src/components/kanban/KanbanCategory.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

Add role based stuff
  apps/api/src/controllers/orgController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/orgRouter.js
  apps/api/src/routers/projectRouter.js
  apps/frontend/src/components/MemberList.jsx
  apps/frontend/src/components/forms/NewProjectForm.jsx
  apps/frontend/src/pages/Organization.jsx
  apps/frontend/src/pages/OrganizationDashboard.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

Add project search to nav
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/projectRouter.js
  apps/frontend/src/components/Navbar/index.jsx
  apps/frontend/src/components/Navbar/search.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

raise bugs and approve bugs
  apps/api/src/controllers/projectController.js
  apps/frontend/src/components/kanban/KanbanItem2.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

thred
  apps/api/src/controllers/bugController.js
  apps/api/src/routers/bugRouter.js
  apps/frontend/package.json
  apps/frontend/src/components/ThreadPost.jsx
  apps/frontend/src/components/kanban/KanbanItem.jsx
  apps/frontend/src/config/Router.jsx
  apps/frontend/src/pages/Bug.jsx
  yarn.lock
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

add comment feature
  apps/api/prisma/migrations/20220130001647_add_hashemail/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/controllers/bugController.js
  apps/api/src/controllers/postController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/postRouter.js
  apps/api/src/server.js
  apps/frontend/src/components/MemberList.jsx
  apps/frontend/src/components/Navbar/index.jsx
  apps/frontend/src/components/Navbar/navbarItems.js
  apps/frontend/src/components/ThreadPost.jsx
  apps/frontend/src/components/kanban/KanbanCategory.jsx
  apps/frontend/src/pages/Bug.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js, yarn workspace @bug-tracker/api format:prisma

Improve nav search
  apps/frontend/src/components/Navbar/index.jsx
  apps/frontend/src/components/Navbar/navbarItems.js
  apps/frontend/src/components/Navbar/search.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix

Add edit bug and home page
  apps/api/src/controllers/bugController.js
  apps/api/src/controllers/projectController.js
  apps/api/src/routers/bugRouter.js
  apps/api/src/routers/projectRouter.js
  apps/frontend/assets/bug-fixing.svg
  apps/frontend/src/App.jsx
  apps/frontend/src/components/ThreadPost.jsx
  apps/frontend/src/components/forms/EditBugForm.jsx
  apps/frontend/src/components/kanban/KanbanItem.jsx
  apps/frontend/src/pages/Bug.jsx
  apps/frontend/src/pages/Home.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js

Update Webpage title
  apps/frontend/index.html
Due: none

Feat: assign user
  apps/api/prisma/migrations/20220130064801_add_proj_id/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/auth/jwt-strategy.js
  apps/api/src/auth/local-strategy.js
  apps/api/src/controllers/bugController.js
  apps/api/src/routers/bugRouter.js
  apps/frontend/src/components/kanban/KanbanCategory.jsx
  apps/frontend/src/pages/Bug.jsx
  apps/frontend/src/pages/Project.jsx
Due: yarn workspace @bug-tracker/frontend format, yarn workspace @bug-tracker/frontend lint:fix, yarn workspace @bug-tracker/api format:js, yarn workspace @bug-tracker/api format:prisma

Update readme
  README.md
Due: none

Add backend URL to env
  apps/api/.env.example
Due: none

Add address field to User schema for extending optional fields
  apps/api/prisma/schema.prisma
Due: yarn workspace @bug-tracker/api format:prisma

Extend project schema to support projectLead field
  apps/api/prisma/schema.prisma
Due: yarn workspace @bug-tracker/api format:prisma
